logging:
  level:
    root: info
spring:
  jpa:
    open-in-view: false
#    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQL95Dialect
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true

application:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost/companycob}
    username: ${DATABASE_USERNAME:companycob}
    password: ${DATABASE_PASSWORD:companycob}
    configuration:
      maximum-pool-size: 30
      driver-class-name: org.postgresql.Driver

keycloak:
  auth-server-url: ${AUTH_URL:http://localhost:8081/auth}
  realm: ${AUTH_REALM:companycob}
  resource: ${AUTH_RESOURCE:registration-api}
  bearer-only: true

aws:
  endpoint: ${AWS_ENDPOINT:http://localhost:4566}

messaging:
  use-raw-aws-sdk: ${RAW_AWS_SDK:false}
  queues:
    teste-queue: ${TESTE_QUEUE_URL:http://localhost:4566/000000000000/teste}

cloud:
  aws:
    stack:
      auto: false